*{
  background-color: black;
  color: white;
}
ul{
  list-style: none;
  display: flex;
}
li{
  margin: 20px;
  font-size: large;
}
a{
  text-decoration: none;
}
a:hover{
  color: red;
}
nav{
  font-size: large;
  height: 10vh;
  border-bottom: 1px solid white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
 padding-left: 20px;
 justify-content: space-between;
 padding-right: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 2% 16%;
}
form > input{
  border:none;
  border-bottom: 1px solid white;
  background-color: inherit;
  color: inherit;
  height: 46px;
  padding: 5px 0;
}
form > input::placeholder{
  color: white;
}
form > h1{
  margin-bottom: 4px;
}

form > button{
width: 200px;
padding: 10px;
background-color: white;
margin-top: 15px;
color: black;
}

form > p{
  margin-top: 10px;
}
h1{
  font-size: 45px;
}
.profile_box{
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  /* gap:20px */
}
.profile_box > h1{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.profile_box > p{
  font-size: 30px;
  font-weight: 400;
}

.profile_box > button{
  width: 150px;
  font-size: 20px;
  background-color: white;
  padding:10px 10px;
  margin-top: 10px;
  border: none;
  color: black;
}
.profile_box span{
  font-size: 30px;
  font-weight: 200;
}
